@import url("./reset.css");

.line-clamp-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.line-clamp-5{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


.bg-modal{
    background-color: rgba(0,0,0,0.4);
}

.label-w{
    max-width: 10ch;
    text-overflow: ellipsis;
}

html{
accent-color: #94a3b8;
}

.animate-pulse-fast {
    animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}